/* ----------------- */
/* CUSTOM PROPERTIES */
/* ----------------- */
:root {
    /* colors */
    --clr-neutral-900: hsl(0, 0%, 0%);
    --clr-neutral-800: hsl(0, 0%, 27%);
    --clr-neutral-700: hsl(0, 0%, 63%);
    --clr-neutral-200: hsl(0, 0%, 95%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    /* typography */
    --ff-primary: 'League Spartan', sans-serif;

    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-200: 0.75rem;
    --fs-300: 1rem;
    --fs-400: 1rem;
    --fs-900: 2rem; 

    --ltr-spacing-100: 1.5px;
    
    --ff-body: var(--ff-primary);
    --fw-body: var(--fw-medium);
    --fs-body: var(--fs-300);

    --ff-primary-heading: var(--ff-primary);
    --fw-primary-heading: var(--fw-bold);
    --fs-primary-heading: var(--fs-900);
    
    --ff-secondary-heading: var(--ff-primary);
    --fw-secondary-heading: var(--fw-bold);
    --fs-secondary-heading: var(--fs-400);
}

@media (min-width: 64em) {
    :root {
        --fs-400: 1.125rem;
        --fs-900: 2.25rem; 
    }
}
  
/* -------------- */
/* RESETS         */
/* -------------- */
/* box-sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
ul,
button {
    margin: 0;
    padding: 0;
}

/* make images easier to work with */
img {
    max-inline-size: 100%;
    block-size: auto;
    display: block;
}

/* make forms elements easier to work with */
input,
button,
textarea, 
select {
    font: inherit;
    outline: 0;
}

button { 
    border: 0; 
    background-color: transparent;
    cursor: pointer;
}

/* default styles */
a {
    text-decoration: none;
    color: var(--clr-neutral-900);
}

ul {
    list-style: none;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
    min-block-size: 100vh;

    font-family: var(--ff-body);
    font-weight: var(--fw-body);
    font-size: var(--fs-body);
    color: var(--clr-neutral-900);

    background-color: var(--clr-neutral-200);
}

/* --------------- */
/* UTILITY CLASSES */
/* --------------- */
/* positioning */
.relative { position: relative; }

.absolute { position: absolute; }

/* display */
.grid { display: grid; }

.flex { display: flex; }

.block { display: block; }

.hidden { display: none; }

.flow-column { grid-auto-flow: column; }

.place-center { place-items: center; }

/* typography */
.primary-heading {
    font-family: var(--ff-primary-heading);
    font-weight: var(--fw-primary-heading);
    font-size: var(--fs-primary-heading);
    color: var(--clr-neutral-900);
}

.secondary-heading {
    font-family: var(--ff-secondary-heading);
    font-weight: var(--fw-secondary-heading);
    font-size: var(--fs-secondary-heading);
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--clr-neutral-900);
}

/* others */
.container {
    --max-width: 1256px;

    max-inline-size: var(--max-width);
    margin-inline: auto;
}

/* -------------- */
/* COMPONENTS     */
/* -------------- */
/* PRIMARY BUTTON */
.primary-button {
    display: flex;
    gap: 1rem;

    font-size: var(--fs-300);
    font-weight: var(--fw-semi-bold);
    text-transform: uppercase;
    letter-spacing: 12px;
    color: var(--clr-neutral-900);
}

/* CAROUSEL DRIVE BUTTON */
.carousel-drive-button {
    --padding: 1em;

    padding-block: var(--padding);
    padding-inline: calc(var(--padding) + 0.25em);

    display: flex;
    place-items: center;

    background-color: var(--clr-neutral-900);
}

.carousel-drive-button:hover,
.carousel-drive-button:focus {
    background-color: var(--clr-neutral-800);
}

/* CAROUSEL */
.carousel {
    display: grid;

    position: relative;
}

.carousel > .control-painel {
    inline-size: max-content;
    
    display: grid;
    grid-auto-flow: column;

    position: absolute;
}

@media(max-width: 56.1875em) {
    .carousel > .control-painel {
        right: 0;
        top: calc((100vw / 1.573033) - 66.5px);
    }
}

@media (min-width: 56.25em) {
    .carousel {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }

    .carousel > .carousel-slide {
        grid-column: 1 / 11;
    }

    .carousel > .control-painel {
        grid-column: 5 / 7;
        justify-self: end;

        bottom: 0;
    }
}

@media (min-width: 78.5em) {
    .carousel > .control-painel {
        grid-column: 7 / 9;
        justify-self: start;
    }
}

/* NAVIGATION */
.navigation-bar-mobile {
    --padding-100: 1.25rem;
    --padding-200: 2.5rem;
}

.navigation-bar-mobile > :last-child {
    inline-size: 100%;
    padding-inline: var(--padding-100);
    padding-block: var(--padding-200);
    
    position: absolute;
    top: 0;
    left: 0;

    align-items: center;
    justify-content: space-between;
    
    background-color: var(--clr-neutral-100);
}

.navigation-bar-desktop {
    display: none;
}

.navigation-list {
    --gap: min(5vw, 1.5rem);
    --fs-anchor: var(--fs-300);
    --clr-anchor: var(--clr-neutral-900);

    display: grid;
    grid-auto-flow: column;
    gap: var(--gap);
}

.navigation-list > .navigation-item > .navigation-item-anchor  {
    font-size: var(--fs-anchor);
    color: var(--clr-anchor);
}

.navigation-list > .navigation-item > .navigation-item-anchor:hover  {
    border-block-end: 2px solid var(--clr-anchor);
}

@media (min-width: 40em) {
    .navigation-bar-mobile {
        display: none;
    }

    .navigation-bar-desktop {
        inline-size: max-content;
        display: block;
    }

    .navigation-list {
        --gap: 2rem;
        --clr-anchor: var(--clr-neutral-100);
    }
}

/* SHOWCASE CARD */
.showcase-card {
    --auto-flow: row;
    --template-columns: auto;

    inline-size: 100%;

    display: grid;
    grid-auto-flow: var(--auto-flow);
    grid-template-columns: var(--template-columns);
}

.showcase-card > .showcase-card-body {
    display: grid;
    place-items: center;

    background-color: var(--clr-neutral-100);
}

.showcase-card > .showcase-card-body > .wrapper {
    --padding: 3rem;

    padding-inline: calc(var(--padding) * 0.5);
    padding-block: var(--padding);

    display: grid;
    gap: 1.25rem;
}

.showcase-card > .showcase-card-body .showcase-card-supporting-text {
    font-size: var(--fs-300);
    font-weight: var(--fw-medium);
    line-height: 1.5;
    color: var(--clr-neutral-700);
}

@media (min-width: 56.25em) {
    .showcase-card {
        --auto-flow: column;
        --template-columns: repeat(10, 1fr);
    }

    .showcase-card > .showcase-card-thumbnail {
        grid-column: 1 / 7;
    }

    .showcase-card > .showcase-card-body {
        grid-column: 7 / 11;
    }

    .showcase-card > .showcase-card-body > .wrapper {
        max-inline-size: 87.5%;
        padding: 0;
    }
}

@media (min-width: 61em) {
    .showcase-card > .showcase-card-body > .wrapper {
        max-inline-size: 80%;
    }
}

@media (min-width: 70em) {
        .showcase-card > .showcase-card-body > .wrapper {
        max-inline-size: 70%;
    }
}

/* -------------- */
/* SITE-SPECIFIC  */
/* -------------- */
/* HOME: hero section */
.hero-header {
    --columns-width: 43.5% 57.5%;

    inline-size: 100%;
    padding-inline-start: 1.5rem;
    padding-block-start: 2.5rem;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: var(--columns-width);
    align-items: center;

    position: absolute;
    z-index: 99;
}

.hero-header .logo {
    --grid-column: 2 / 3;

    grid-column: var(--grid-column);
    justify-self: start;
}

@media (min-width: 40em) {
    .hero-header {
        --columns-width: auto;
        
        inline-size: max-content;
        
        gap: 3rem;
    }

    .hero-header .logo {
        --grid-column: 1 / 2;
    }
}

@media (min-width: 56.25em) {
    .hero-header {
        padding-inline-start: 3.5rem;
        padding-block-start: 3.5rem;
    }
}